include versioneer.py
include PyCo/_version.py

include tests/file_format_examples/*
include tests/ref_smooth_sphere.nc
include tests/ref_smooth_sphere.out
include examples/*.py
include examples/*.out
include c/*.h