igor
matplotlib>=1.0.0
numpy>=1.11.0
pylint>0.25
pep8>=0.6
scipy>=0.14.0
cython>=0.15,<0.29
netCDF4>=1.0.0
h5py
pandas
sphinx==1.8.2
pfft-python
FFTEngine
git+https://github.com/IMTEK-Simulation/NuMPI.git
pytest>=4
git+https://github.com:AntoineSIMTEK/FFTEngine
git+https://github.com:AntoineSIMTEK/runtests.git#egg=runtests
