igor
matplotlib>=1.0.0
numpy>=1.16.3
pylint>0.25
pep8>=0.6
scipy>=1.2.0
netCDF4>=1.5.3
h5py
sphinx>=1.8.2
sphinx_rtd_theme
pytest>=4
pytest-flake8
setuptools_scm>=3.5.0
muFFT>=0.18.1
runtests>=0.0.28
SurfaceTopography>=1.0
NuMPI>=0.3.0
