*~
*.pyc
*.cpython*.so
__pycache__
../build
dist
*egg-info
/tests/*.png
/helpers/*.png
/helpers/*.png.pdf
/helpers/figs.pdf
/notes/*/_region_*
/notes/*/auto
/notes/*/*.aux
/notes/*/*.bbl
/notes/*/*.blg
/notes/*/*.log
/notes/power_spectrum/power_spectrum.pdf
/notes/power_spectrum/prv*
/notes/auto/biblio.el
/helpers/.ipynb_checkpoints/
*.pyc


