name: Test examples run without failure

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: "0 2 * * 5"

jobs:
  tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 40

    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Set up python3 ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies and extension module
      run: |
        set -x
        sudo apt-get update -qy
        sudo apt-get install -y python3-dev python3-venv libfftw3-dev libopenblas-dev
        python3 -m venv venv
        source venv/bin/activate
        python3 -m pip install --upgrade pip
        python3 -m pip install flit numpy pip-tools setuptools wheel
        sudo apt-get install libhdf5-dev libnetcdf-dev
        python3 -m pip install -v .[test]
        # Check that NetCDF install was not overriden
        python3 .check_netcdf_capabilities.py no
        python3 .check_mufft_capabilities.py no

    - name: Test example files
      run: |
        set -e
        source venv/bin/activate
        python3 -m pip install jupytext
        cd examples
        
        pytest test_examples.py